### Terraform related files
# Local .terraform directories
**/.terraform/*

# .tfstate files
terraform.tfstate
terraform.tfstate.backup

# .tfvars files
*.tfvars

# .terraform lock file
.terraform.lock.hcl

# Crash log files
crash.log

### Node related files
**/node_modules/*
